.react-calendar-heatmap .color-scale-1 { fill: #C7D2FE; }
.react-calendar-heatmap .color-scale-2 { fill: #A5B4FC; }
.react-calendar-heatmap .color-scale-3 { fill: #818CF8; }
.react-calendar-heatmap .color-scale-4 { fill: #7879F1; }
.react-calendar-heatmap .color-scale-5 { fill: #4F46E5; }